.App {
  width: 1000px;
  margin: 1% auto;
}

.SceneView {
  width: 500px;
  display: block;
  float: left;
}

.WaitMusic > div {
  margin: 20px;
}

.WaitMusic form > div {
  margin: 10px;
}

.WaitMusic button[type="submit"] {
  margin-top: 10px;
  width: 300px;
  height: 50px;
}

.ShareURL {
  padding: 50px 0px;
}

.ShareURL > div {
  border: 5px solid #ccc;
  border-radius: 10px;
  background-color: #ccc;
  padding: 10px;
  display: grid;
  grid-template-columns: 300px 130px;
  grid-template-rows: 30px 30px;
}

.ShareURL label {
  grid-column: 1 / 3;
  grid-row: 1/2;
}

.ShareURL input {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 16px;
}

.ShareURL button {
  grid-column: 2/3;
  grid-row: 2/3;
}

.PlayMusic > button {
  width: 70%;
  height: 100px;
}

.ShowResultEntries {
  display: table;
  border: 1px solid #ccc;
}

.ShowResultEntries .CorrectRow {
  background-color: palegreen;
}

.ShowResultEntries .WrongRow {
  background-color: pink;
}

.ShowResultEntriesColumn {
  display: table-cell;
  border: 1px solid #ccc;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.ShowResultEntriesColumnName {
  width: 100px;
  padding: 10px;
}

.ShowResultEntriesColumnTime {
  width: 50px;
  padding: 10px;
}

.ShowResultEntriesColumnAnswer {
  width: 250px;
  padding: 10px;
}

.ShowResultEntriesColumnCheck {
  width: 20px;
}

.InputCorrectAnswer {
  padding-bottom: 20px;
}

.SelectCorrectAnswer button {
  margin: 10px;
  width: 100px;
  float: right;
}

.ShowResult button {
  margin: 10px;
  width: 100px;
  float: right;
}

.ChatWindow {
  display: block;
  float: right;
}

.ChatPostForm {
  padding-top: 20px;
}

.ChatPostForm form {
  display: grid;
  grid-template-columns: 1fr auto;
}

.ChatHistory {
  padding: 0;
  width: 400px;
  height: 500px;
  overflow-y: scroll;
  border: 1px solid #ccc;
}

.ChatHistoryRow {
  border-bottom: 1px solid #ccc;
}

.ChatHistoryRowNotification {
  background-color: pink;
}

.ChatHistoryRowName {
  display: block;
  padding-left: 8px;
  padding-top: 4px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ChatHistoryRowBody {
  display: block;
  padding-left: 8px;
  padding-bottom: 8px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
