.QuizRoom {
  display: flex;
}

.QuizHistory {
  display: block;
  width: 400px;
  height: 100px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  margin: 10px;
}

.QuizHistory > div {
  border-bottom: 1px solid #ccc;
  height: 25px;
}

.QuizHistoryEntryRound {
  display: inline-block;
  padding-left: 15px;
  width: 20%;
  height: 100%;
  border-right: 1px solid #ccc;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.QuizHistoryEntryAnswer {
  display: inline-block;
  padding-left: 15px;
  width: 65%;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.UserList {
  display: block;
  width: 400px;
  height: 120px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  margin: 10px;
}

.UserListEntry {
  border-bottom: 1px solid #ccc;
  padding-left: 30px;
  padding-top: 4px;
  height: 25px;
}

.UserListEntryMe {
  font-weight: bold;
  border-bottom: 1px solid black;
}

.UserListEntryOnline {
  color: green;
}

.UserListEntryOffline {
  color: red;
}

.UserListEntryMaster {
  position: relative;
}

.UserListEntryMaster::after {
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  content: "M";
  color: #3498db;
  font-weight: bold;
}

.UserListEntryName {
  display: inline-block;
  width: 40%;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 10%;
}

.UserListEntryMaru {
  display: inline-block;
  width: 15%;
  height: 100%;
  overflow: hidden;
}

.UserListEntryPeke {
  display: inline-block;
  width: 15%;
  height: 100%;
  overflow: hidden;
}

.UserListEntryScore {
  display: inline-block;
  width: 15%;
  height: 100%;
  overflow: hidden;
}

.ScoreEditor form {
  width: 400px;
  margin: 10px;
  display: grid;
  grid-template-columns: 200px 60px 60px 80px;
  grid-template-rows: 30px;
}
